<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Inbox</title>
  </head>
  <body>
    <form method="POST" action="/send">
      <label for="receiver">Choose recipient:</label>
      <select id="receiver" name="receiver">
        <%for(let i=0; i<receiver.length; i++){%>
               <option for=<%=receiver[i]%> ><%=receiver[i]%></option>
        <%}%>
      </select>
      <label for="message">Message</label><br />
      <input type="text" id="message" name="message" /><br />
      <input type="submit" value="Send Text" />
    </form>
  </body>
</html>
